.BadgesWrapper {
  padding: 0.25rem 1rem;
  background-color: rgb(180, 180, 180);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
