.container {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #eee;
  height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 360px) {
}

.BadgesContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.BadgesContainer * {
  margin: 2px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #ed4265;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.typeAheadPlaceholder {
  width: 100%;
  padding: 3rem 0;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hide {
  opacity: 0;
  transform: translate(0, -1000%, 0);
}

.tabPanel {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tab {
  padding: 0.25rem 1.5rem;
  cursor: pointer;
}

.tabActive {
  color: rgb(9, 127, 230);
}

.thumbnailsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnails {
  width: 200px;
}

.thumbnails img {
  width: 100%;
}
